PORT=3000
VIBE_API_KEY=vibe_api_replace_me
VIBE_API_URL=https://vibecode.bitrix24.tech
AI_CHAT_MODEL=bitrix/bitrixgpt-5
AI_TRANSCRIPTION_MODEL=bitrix/deepdml/faster-whisper-large-v3-turbo-ct2
MAX_CALLS_PER_BATCH=20
